@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @{Html.RenderPartial("_PView");}

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Second Method</h2>
        @Html.Partial("_PView");
    </div>

</div>
<div class="col-md-4">
    <h2>Third Action</h2>
    @Html.Action("PAction");

</div>
<div class="col-md-4">
    <h2>Fourth Action</h2>
    @{Html.RenderAction("PAction");
    }

</div>
